spring:
  cloud:
    nacos:
      username: uni-stack
      password: UniStack@2026
      discovery:
        server-addr: ${NACOS_SERVER:192.168.1.42:8848}
        namespace: ${NACOS_NAMESPACE:uni-stack}
        # 服务元数据，供 Spring Boot Admin 识别
        metadata:
          management:
            context-path: /actuator
      config:
        server-addr: ${NACOS_SERVER:192.168.1.42:8848}
        namespace: ${NACOS_NAMESPACE:uni-stack}
        file-extension: yaml

  config:
    import:
      - nacos:public-config.yaml?group=DEFAULT_GROUP&refreshEnabled=true
      - nacos:storage.yaml?group=DEFAULT_GROUP&refreshEnabled=true