server:
  port: 8083

spring:
  application:
    name: storage
  profiles:
    active: @profile.active@

  # JDK 21 虚拟线程优化
  threads:
    virtual:
      enabled: true

# Actuator 端点配置
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always