server:
  port: 8083

spring:
  application:
    name: storage

  # JDK 21 虚拟线程优化
  threads:
    virtual:
      enabled: true

  cloud:
    nacos:
      username: uni-stack
      password: 745700Yxy@
      discovery:
        server-addr: ${NACOS_SERVER:192.168.1.97:8848}
        namespace: ${NACOS_NAMESPACE:uni-stack}
        # 服务元数据，供 Spring Boot Admin 识别
        metadata:
          management:
            context-path: /actuator
      config:
        server-addr: ${NACOS_SERVER:192.168.1.97:8848}
        namespace: ${NACOS_NAMESPACE:uni-stack}
        file-extension: yaml

  config:
    import:
      - nacos:public-config.yaml?group=DEFAULT_GROUP&refreshEnabled=true
      - nacos:storage.yaml?group=DEFAULT_GROUP&refreshEnabled=true

# Actuator 端点配置
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always