spring:
  cloud:
    nacos:
      username: uni-stack
      password: UniStack@2026
      discovery:
        server-addr: ${NACOS_SERVER:127.0.0.1:8848}
        namespace: ${NACOS_NAMESPACE:uni-stack}
        # 服务元数据，供 Spring Boot Admin 识别
        metadata:
          management:
            context-path: /actuator
      config:
        server-addr: ${NACOS_SERVER:127.0.0.1:8848}
        namespace: ${NACOS_NAMESPACE:uni-stack}
        file-extension: yaml

  config:
    import:
      - optional:nacos:public-config.yaml?group=DEFAULT_GROUP&refreshEnabled=true
      - optional:nacos:monitor.yaml?group=DEFAULT_GROUP&refreshEnabled=true

logging:
  level:
    de.codecentric.boot.admin: INFO
    com.github.motoryang.monitor: DEBUG